[submodule "lib/CommonLibSSE-NG"]
	path = lib/CommonLibSSE-NG
	url = https://github.com/alandtse/CommonLibVR.git
[submodule "lib/Detours"]
	path = lib/Detours
	url = https://github.com/microsoft/Detours.git
